.card{
    width: 250px;
    background-color: #ffffff88 ;
    padding: 1rem;
    border-radius: 15px;
    margin: 0 1.5rem;
}
.user{
    background-image: url('../../assets/icons/user-solid.svg');
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
