.aeroplane{
    background-image: url('../../assets/aeroplane-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
#sectionOne{
display: flex;
align-items: center;
}
#sectionTwo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#sectionTwo>ul{
    display: flex;
    text-decoration: none;
}
#sectionTwo>ul>li{
    padding-left: 3rem;
    list-style-type:none;
    font-size: 20px;
    color: black;
}
#sectioThree{
    display: flex;
    align-items: center;
}
ul{
    text-decoration: none;
}
#destination{
    border-radius: 40px;
    border: none;
    height: 50px;
    padding-left: 30px;
    padding-right: 220px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px;
    background-color: #56a5d6;
    // position: relative;
    // z-index: 10;
}