.conteinar{
    padding: 2rem;
}
.badge{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 2.5rem;
  }
h2{
   
    font-size: 60px;
    margin-right: 5.5rem;
   
  }
  p{
   font-family:  Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 3rem;
  }